@keyframes example {
  0%   {background-color:red; left:0px; bottom:0px;}
  25%  {background-color:yellow; left:200px; bottom:0px;}
  50%  {background-color:blue; left:200px; bottom:60px;}
  75%  {background-color:green; left:0px; bottom:60px;}
  100% {background-color:red; left:0px; bottom:0px;}
}
img{
	width: 700px;
  height: 400px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 7s;
}

#carrousel{
    position:relative;
    height:400px;
    width:700px;
    margin:auto;
}
#carrousel ul li{
    position:absolute;
    top:0;
    left:0;
}
ul {
list-style-type: none;
}

h1
{
	text-align: center;
	color: blue;
	margin-bottom: 80px;
}
.navigation{
	position: absolute;
	bottom:38px;
	right: 5px;
}
.navigation button{
	background: #000;
	color:#fff;
	padding:2px 4px;
	cursor: pointer;
}
.navigation button:hover{
	background: #fff;
	color:#000;
	
}
h2
{
	color: white;
	font-size: 14px;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 6px;
	font-family: serif;
}
footer
{
	background: black;
	margin-top: 80px;
	width: 100%;
	height: 60px;
}
